.page {
  max-width: 1600px;
  min-width: 1100px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.header {
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.page__header {
  margin: 0;
  padding: 30px 80px 0px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.header__nav  {
  height: 80px;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
   margin: 0;
   padding-top: 8px;
   display: flex;
   list-style-type: none;
   column-gap: 20px;
   padding-left: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
}


.header__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
}

.header__title {
   margin: 0;
   max-width: 635px;
   padding-top: 128px;
   padding-bottom: 42px;
   font-size: 62px;
   line-height: 76px;
   font-weight: 500;
}

.header__description {
   margin: 0;
   max-width: 515px;
   padding-top: 32px;
   font-size: 20px;
   line-height: 30px;
}

.header__image {
  max-width: 636px;
  display: flex;
  justify-content: center;
  position:relative;
  padding-left: 60px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 80px;
}


.footer__address {
  margin: 0;
  color: #838383;
}

.page__main {
   position: 0;
   margin: 0;
   width: 100vw;
   max-width: 1600px;
   min-width: 1100px;
   height: 1250px;
   background-color: #ffffff;
   background-image: url(/TripleTen/sprint3/web_project_library_es/images/staff_picks_background.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.staff {
   position: 0;
   margin: 0;
   display: flex;
}

.main__staff {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff__title {
  margin: 0;
  color: #ffffff;
  padding-top: 90px;
  padding-bottom: 40px;
  font-size: 42px;
  font-weight: 500;
}

.staff__subtitle {
  color: #ffffff;
  margin: 0;
  display: inline;
  font-size: 20px;
}

.staff__cards {
  margin: 0;
  padding-top: 62px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 760px;
  height: 880px;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 0;
  padding-bottom: 100px;
}

.main__cards {
  background-color: #ffffff;
  border-radius: 10px;
}

.card {
  height: 420px;
  width: 360px;
}

.card__content {
  height: 420px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.card__title {
  display: flex;
  padding: 32px;
  margin: 0;
  padding-bottom: 0;
}

.card__text {
  display: flex;
  font-size: medium;
  padding: 32px;
  padding-bottom: 0;
  margin: 0;
}

.card__footer {
  padding: 32px;
  margin-bottom: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #838383;
  font-size: small;
}

.section {
   width: 1400px;
   height: 600px;
   display: flex;
   background-color: #f2f2f2;
}

.main__section {
   display: flex;
   padding-top: 100px;
}

.section__text {
   width: 45%;
   padding-left: 80px;
}

.section__title {
  font-size: large;
  font-weight: 300;
}

.section__subtitle {
  font-size: 42px;
  line-height: 44px;
  font-weight: 500;
  padding-right: 100px;
}

.fecha-lugar {
  display: flex;
  flex-direction: column;
}

.section__fecha {
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}

.icon {
  padding-right: 12px;
}

.fecha__text {
  font-weight: 300;
  margin: 0;
}


.section__lugar {
  display: flex;
  flex-direction: row;
}

.lugar__text {
  font-weight: 300;
  margin: 0;
}

.parrafo {
  font-size: medium;
}

.section__parrafo {
  margin: 0;
  padding-top: 16px;
  padding-right: 10px;
}

.section__more-events {
   color: #2f80ed;
   display: block;
   padding-top: 55px;
}

.section__images {
  width: 55%;
  background-image: url(/TripleTen/sprint3/web_project_library_es/images/cafe.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.photograph {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.name {
  margin: 0;
  padding-bottom: 10px;
  font-size: small;
  font-weight: 100;
}

.photograph_tarter {
  top: 115px;
  left: 70px;

}

.photograph_feynman {
  bottom: 250px;
  left: 230px;
}

.photograph_burbidge {
  bottom: 390px;
  left: 430px;
}

.photograph_mitchell {
   bottom: 360px;
   left: 50px;
}

.photograph_cannon {
   bottom: 560px;
   left: 335px;
}